@import "../../utils/config";

.resetPasswordPage {
  & .resetPasswordPage__topSection {
    background-color: $topSection_bgcolor;
    height: 37vh;
    position: relative;

    & .resetPassword__container {
      background-color: white;
      width: 45%;
      margin: 0 auto;
      padding: 20px 35px;
      border-radius: 10px;
      z-index: 1;
      position: absolute;
      left: 30%;
      top: 45%;

      & .resetPassword__body{
        
        & .resetPassword__text{
            font-size: 15px;
            margin-bottom: 35px;
        }

        & .btn__group{
            display: flex;
            justify-content: center;
            align-items: center;
        }

      }
    }
  }

  & .resetPasswordPage__bottomSection {
    background-color: $bottomSection_bgcolor;
    height: 75vh;
  }
}
