.modal__container {
  background: white;
  z-index: 10002;
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48%;
  height: 90%;
//   overflow-y: scroll;
  border-radius: 15px;
  padding: 25px 20px;
}
